# Include setup.py.
# NOTE: This is needed until setuptools is fixed to include setup.py file by
# default for scenarios where the invoking script is not setup.py.
# For more details, see: https://github.com/pypa/setuptools/issues/1506.
include setup.py
# Include meta data.
include LICENSE
# Include documentation and files needed by documentation.
recursive-include docs *.py *.rst
# Include tests and files needed by tests
include tox.ini
include pyproject.toml
include tests/.env
include tests/docker-compose.yml
recursive-include tests *.py
