[build-system]
requires = [
    "setuptools >= 35.0.2",
    "setuptools_scm >= 3.1.0, <4",
]
build-backend = "setuptools.build_meta"

[tool.black]
target_version = ['py36', 'py37']
skip-string-normalization = true
